.jumbotron{
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;

    margin-bottom: 12px;
    background-image: url(/images/bannerhotel.PNG);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(243, 244, 247);
    text-shadow: black 0.3em 0.3em 0.3em;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

h6{
    padding-top: 1rem;
}

.tab-content{
    padding-top: 10px;
}
