@yellow: #d96e2b;
@rojo: #fc2c03;
@verde: #52524b;
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.padding(@ptop: 0px, @pright 0px, @pbottom: 0px, @pleft: 0px){
    padding-top: @ptop;
    padding-right: @pright;
    padding-bottom: @pbottom;
    padding-left: @pleft;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
    margin-bottom: 12px;
    background-image: url(/images/bannerhotel.PNG);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f3f4f7;
    text-shadow: black 0.3em 0.3em 0.3em; }
  
  footer {
    // padding: 10px 10px 0 10px;
    .padding(10px, 10px, 0px, 10px);
    background-color: @yellow;
    .margenes(10px, 0px) }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  h6 {
    padding-top: 1rem; }
  
  .tab-content {
    padding-top: 10px; }
  