.jumbotron {
  background-color: #d96e2b;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-bottom: 12px;
  background-image: url(/images/bannerhotel.PNG);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f3f4f7;
  text-shadow: black 0.3em 0.3em 0.3em; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d96e2b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

h6 {
  padding-top: 1rem; }

.tab-content {
  padding-top: 10px; }
